<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="">
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='style.css')}}"/>
    <title>Application menu</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="/mentors">Mentors</a></td>
        </tr>
        <tr>
            <td><a href="/all-schools">Schools</a></td>
        </tr>
        <tr>
            <td><a href="/mentors-by-country">Mentors by country</a></td>
        </tr>
        <tr>
            <td><a href="/contacts">Contacts</a></td>
        </tr>
        <tr>
            <td><a href="/applicants">Applicants</a></td>
        </tr>
        <tr>
            <td><a href="/applicants-and-mentors">Applicants and mentors</a></td>
        </tr>
    </table>
</body>
</html>